version: "3.7"
services:
    app:
        build:
            target: development
        container_name: project_name_app_dev
        image: project_name:development
        restart: unless-stopped
        volumes:
            - .:/src/app
            - "src/app/node_modules"
